[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-celery-results = "*"
pillow = "*"
docker = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
psycopg2 = "*"
datasets = "*"
dj-database-url = "*"
django-unique-user-email = "*"
celery = {extras = ["redis"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
